wcfDemo/WCF/WCF 3.5/Client/App_WebReferences/ExceptionService/Hello.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF.ServiceLib.Exception" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF.ServiceLib.Exception" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FaultMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FaultMessage" nillable="true" type="tns:FaultMessage" />
</xs:schema>