wcfDemo/6.1.WCFng/6.1.WCFServiceSecurityDemoFrankXuLei_Message_UserName_WSHttpBinding/Message_UserName_WSHttpBinding/WCFClientFrankXuLei/WCFClient/Service References/ClientProxy/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.cnblogs.com/frank_xl/" elementFormDefault="qualified" targetNamespace="http://www.cnblogs.com/frank_xl/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SayHello">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SayHelloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SayHelloResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>