wcfDemo/WCF/WCF 3.5/Client2/Service References/MessageSvc.DuplexReentrant/DuplexReentrant.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="DuplexReentrant" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IDuplexReentrant_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:12345/Message/DuplexReentrant?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:12345/Message/DuplexReentrant?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDuplexReentrant_HelloDuplexReentrant_InputMessage">
    <wsdl:part name="parameters" element="tns:HelloDuplexReentrant" />
  </wsdl:message>
  <wsdl:message name="IDuplexReentrant_HelloDuplexReentrant_OutputMessage">
    <wsdl:part name="parameters" element="tns:HelloDuplexReentrantResponse" />
  </wsdl:message>
  <wsdl:message name="IDuplexReentrant_HelloDuplexReentrantCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:HelloDuplexReentrantCallback" />
  </wsdl:message>
  <wsdl:message name="IDuplexReentrant_HelloDuplexReentrantCallback_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:HelloDuplexReentrantCallbackResponse" />
  </wsdl:message>
  <wsdl:portType name="IDuplexReentrant">
    <wsdl:operation name="HelloDuplexReentrant">
      <wsdl:input wsaw:Action="http://tempuri.org/IDuplexReentrant/HelloDuplexReentrant" message="tns:IDuplexReentrant_HelloDuplexReentrant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDuplexReentrant/HelloDuplexReentrantResponse" message="tns:IDuplexReentrant_HelloDuplexReentrant_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HelloDuplexReentrantCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IDuplexReentrant/HelloDuplexReentrantCallback" message="tns:IDuplexReentrant_HelloDuplexReentrantCallback_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IDuplexReentrant/HelloDuplexReentrantCallbackResponse" message="tns:IDuplexReentrant_HelloDuplexReentrantCallback_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IDuplexReentrant" type="tns:IDuplexReentrant">
    <wsp:PolicyReference URI="#NetTcpBinding_IDuplexReentrant_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="HelloDuplexReentrant">
      <soap12:operation soapAction="http://tempuri.org/IDuplexReentrant/HelloDuplexReentrant" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloDuplexReentrantCallback">
      <soap12:operation soapAction="http://tempuri.org/IDuplexReentrant/HelloDuplexReentrantCallback" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DuplexReentrant">
    <wsdl:port name="NetTcpBinding_IDuplexReentrant" binding="tns:NetTcpBinding_IDuplexReentrant">
      <soap12:address location="net.tcp://localhost:54321/Message/DuplexReentrant" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:54321/Message/DuplexReentrant</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>WANGLEI-PC\Administrator</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>